a p{
    color: white;
    margin: 0;
    text-decoration: none;

    padding: 0;
}
a{
    text-decoration: none;
}
h2{
    text-align: center;
    color: darkblue;
}
h3{
    text-align: center;
color: red;
}